[submodule "xapp/Cache"]
	path = xapp/Cache
	url = https://github.com/setcooki/xapp-cache.git
[submodule "xapp-testing"]
	path = xapp-testing
	url = https://github.com/setcooki/xapp-testing.git
[submodule "xapp/Log"]
	path = xapp/Log
	url = https://github.com/setcooki/xapp-log.git
[submodule "xapp/Xapp"]
	path = xapp/Xapp
	url = https://github.com/setcooki/xapp-xapp.git
[submodule "xapp/Rpc"]
	path = xapp/Rpc
	url = https://github.com/setcooki/xapp-rpc.git
[submodule "xapp/Orm"]
	path = xapp/Orm
	url = https://github.com/setcooki/xapp-orm.git
[submodule "xapp/Core"]
	path = xapp/Core
	url = https://github.com/setcooki/xapp-core.git
[submodule "xapp/Config"]
	path = xapp/Config
	url = https://github.com/setcooki/xapp-config.git
