[submodule "xapp/Core"]
	path = xapp/Core
	url = git@github.com:setcooki/xapp-core.git
[submodule "xapp/Xapp"]
	path = xapp/Xapp
	url = git@github.com:setcooki/xapp-xapp.git
[submodule "xapp/Config"]
	path = xapp/Config
	url = git@github.com:setcooki/xapp-config.git
[submodule "xapp/Cache"]
	path = xapp/Cache
	url = git@github.com:setcooki/xapp-cache.git
[submodule "xapp/Rpc"]
	path = xapp/Rpc
	url = git@github.com:setcooki/xapp-rpc.git
[submodule "xapp/ext"]
	path = xapp/ext
	url = git@github.com:setcooki/xapp-ext.git
